<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {:class => 'container'}) do |f| %>
  <h2 class="display-1">Login</h2>
  <br/>
  <div class="field">
    <p><%= f.label 'Username/Email', class: 'form-label display-6'%> <br/>
      <%= f.text_field :login , class: 'form-control form-control-lg'%></p>
  </div>

  <div class="field">
    <%= f.label :password, class: 'form-label display-6' %><br />
    <%= f.password_field :password, autocomplete: "current-password",class: 'form-control form-control-lg' %>
  </div>
  <br/>
  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me, class: "form-check-input"%>
      <%= f.label :remember_me, class: 'form-label' %>
    </div>
  <% end %>
  <div class="actions row">
    <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
  </div>
  <div class="actions row">
    <%= f.submit "Log in", class: "btn btn-primary btn-lg" %>
  </div>
<% end %>

<!-- render "devise/shared/links"  -->