<% email = [] %>
<% password = [] %>
<% if resource.errors.any? %>
  <% resource.errors.full_messages.each do |message| %>
    <% if message.include?("Email") %>
      <% email.append(message)%>
    <% else %>
      <%password.append(message)%>
    <% end %>
  <% end %>
<% end %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name) , html: {:class => 'container'}) do |f| %>
  <h2 class="display-1">Sign up</h2>
  <p><%= f.label :username, class: 'form-label display-6'%>
  <%= f.text_field :username, class: 'form-control form-control-lg' %></p>

  <div class="field">
    <%= f.label :email, class: 'form-label display-6'%>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control form-control-lg' %>
    <% if email.any?%>
      <% email.each do |message|%>
        <p style="color: red; font-size: smaller;">* <%= message %><p>
      <% end%>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password, class: 'form-label display-6' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'form-control form-control-lg'%>
        <% if password.any?%>
      <% password.each do |message|%>
        <p style="color: red; font-size: smaller;">* <%= message %><p>
      <% end%>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: 'form-label display-6' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" , class: 'form-control form-control-lg'%>
  </div>
  <br/>
  <div class="actions row">
    <%= f.submit "Sign up", class: 'btn btn-primary btn-lg' %>
  </div>
  <div class="actions row">
    <%= link_to 'Login', sessions_form_path, remote: true, class: 'btn btn-secondary btn-lg' %>
  </div>
<% end %>