<!DOCTYPE html>
<html>
  <head>
    <title>Clubhouse</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="height: 100vh;">
    <% if notice %>
      <p class="alert alert-success" style="margin-top: 0; margin-bottom: 0;"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger" style="margin-top: 0; margin-bottom: 0;"><%= alert %></p>
    <% end %>
    <% if flash[:success] %>
      <p class="alert alert-success" style="margin-top: 0; margin-bottom: 0;"> <%= flash[:success] %> </p>
    <% end %>
    <div style="display: flex; flex-direction: column; height: 100%;">
      <%= render 'shared/navbar' %>
      <%= yield %>
    </div>
  </body>
</html>
